*{
	padding: 0px;
	margin: 0px;
}

html, body{
	height: 100%;
}

.circulo{
	width: 60px;
	height: 60px;

	border-radius: 50%;
	background: blue;
	
	text-align: center;
	font-weight: bolder;
	line-height: 60px;
	color: white;
	
	position: absolute;
}